.singleJob {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
	padding: 20px 10px;
	align-items: center;
	transition: all 1s ease;
}

.singleJob:hover {
	cursor: pointer;
}

.detailLogo {
	width: 100%;
}

.detailLogo img {
	width: 100px;
}
